@model DRS.Models.Owner

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Owner</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.owner_firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.owner_firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.owner_middlename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.owner_middlename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.owner_lastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.owner_lastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.owner_nic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.owner_nic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.owner_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.owner_address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.owner_tele)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.owner_tele)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
